h2{
    background-color: #00e676;
    color: white;
    font-family: "Bowlby One SC";
    text-align: center;
}
img:hover {
    border: 2px solid black;
    outline: 2px solid red;
    opacity: revert;
    padding: 89px;
}
nav{
    line-height: 50px;
    background-color: black;
    text-align: center;;
    word-spacing: 30px;
    color: red;
    text-decoration: none;
}
