h2{
    background-color: #00c853;
    color: white;
    text-align: center;
    transform-style:unset;
}
img:hover{
    border: 2px solid black;
    outline: 2px solid red;
    opacity: revert;
    padding: 89px;
}
nav{

    background-color: black;
    text-align: center;;
    word-spacing: 30px;

}
nav a{
    color: red;
    text-decoration: none;
    line-height: 50px;
}
