h2 {
    background-color: #1c7430;
    color: white;
    text-align: center;
    font-family: "Roboto", sans-serif;
}
img:hover{
    border: 2px solid black;
    outline: 2px solid red;
    opacity: revert;
    padding: 89px;
}
nav{
    line-height: 50px;
    background-color: black;
    text-align: center;;
    word-spacing: 30px;
    color: red;
    text-decoration: none;
}
