<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


    <style>
        p{
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: bold;
            font-size: 70px;
            color: red;
        }
        nav{
            background-color: white;
            padding: 5px;
            text-align: center;
        }
        nav a{
            text-decoration: none;
            color: black;
            padding: 0 10px;
        }
    </style>
</head>
<body>
<div>
    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
        <a href="/services">Services</a>
    </nav>

    <p class="h1">
        Page Not Found
    </p>
</div>
</body>
</html>
