<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


    <style>
        nav{
            background-color: white;
            padding: 5px;
            text-align: center;
        }
        nav a{
            text-decoration: none;
            color: black;
            padding: 0 10px;
        }
    </style>
</head>
<body>
<div>
    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
    </nav>

    <p class="h1">
        Welcome to Services
    </p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, delectus deserunt distinctio, doloremque ea eum expedita inventore iste laudantium natus neque nostrum optio ut. Debitis doloremque ipsam magni nam quia.</p>
</div>
</body>
</html>
