<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- BS CSS FILES -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/bootstrap/css/font-awesome-5.8.1.css">
    <link rel="stylesheet" href="../public/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../public/bootstrap/css/mdb.css">
    <link rel="stylesheet" href="../public/bootstrap/css/style.css">
    <link rel="stylesheet" href="../public/bootstrap/css/index.css">
    <title>Express Bootstrap</title>
</head>
<body>

<!-- <button class="btn btn-primary">Login</button> -->
<!-- main nav -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" href="/">PAVAN_NPK <span class="captures" style="letter-spacing: 10px">captures</span> </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item px-2 ">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item px-2">
                    <a class="nav-link" href="/about">About us</a>
                </li>
                <li class="nav-item px-2 ">
                    <a class="nav-link" href="/services">Services</a>
                </li>
                <li class="nav-item px-2 active">
                    <a class="nav-link" href="/profile">profile</a>
                </li>
                <li class="nav-item px-2 ">
                    <a class="nav-link" href="/contact">Contact us</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- ADD MAIN SECTION ( JUMBOTRON ) -->
<section>
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-4 text-primary">Look at my profile</h1>
            <hr class="my-4">
            <p>I have 3 social media accounts, I give the links in about page go and check it once</p>
            <a class="btn btn-info btn-lg" href="#" role="button">Learn more</a>
        </div>
    </div>
</section>

<!-- main footer -->
<footer class="bg-primary text-white text-center p-3">
    <div class="container">
        <div class="row">
            <div class="col">
                <h3>Copyright &copy; 2019 , NPK</h3>
                <h6>All rights reserved</h6>
                <h6>Developed & maintained by
                    <a class="text-white font-weight-bold" href="https://www.instagram.com/pavan_npk/?hl=en" target="_blank">pavan_npk</a></h6>
            </div>
        </div>
    </div>
</footer>

<!-- BS JS FILES -->
<script src="../public/bootstrap/js/jquery-3.3.1.min.js"></script>
<script src="../public/bootstrap/js/popper.min.js"></script>
<script src="../public/bootstrap/js/bootstrap.min.js"></script>
<script src="../public/bootstrap/js/mdb.min.js"></script>
</body>
</html>